# Dependencies
node_modules
target
*.local

# Build Outputs
dist
dist-ssr
build
src-tauri/target

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# System
.DS_Store
Thumbs.db

# IDE & Editor
.vscode
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Security
key_info.txt
key_utf8.txt
*.pem
